
@{
    ViewBag.Title = "Edit";
}

<div class="card card-secondary">

    <div class="card-header">
        <h4>ADD STORE RIGHTS</h4>
        <div class="card-header-action">
            <a class="btn btn-icon btn-danger" href="/StoreRights/Index"><i class="fas fa-times"></i></a>
        </div>
    </div>
    <div class="card-body">
        <input type="hidden" class="form-control " id="ReceivedID" value="0">
        <div class="form-row">
            <input type="hidden" class="form-control " id="TranID" value="0">
            <div class="form-group col-4">
                <label>Tran Date</label>
                <input type="date" class="form-control " id="TranDate">
            </div>
            <div class="form-group col-4">
                <label>User Name</label>
                <select class="Carrier form-control  select2" id="fk_UserID">
                </select>
            </div>
            <div class="form-group col-4">
                <label>Store Title</label>
                <select class="Carrier form-control  select2" id="fk_StoreID">
                </select>
            </div>
        </div>
    </div>
    <div class="card-footer text-right">
        <button class="btn btn-primary" type="button" id="btnSaveSize" onclick="btnSave()">Save Data</button>
        <button class="btn btn-secondary" type="button" id="btnclose" onclick="btnclose()">Close</button>
    </div>
</div>

@section scripts{
    <script src="~/Content/Pages/StoreRights/StoreRightsEdit.js"></script>
}